# =================================================
# Variáveis de Ambiente para o Docker Compose
# Copie este arquivo para .env e preencha os valores
# =================================================

# Credenciais do Banco de Dados PostgreSQL
DB_USER=user_credits
DB_PASSWORD=coloque_sua_senha_aqui
DB_NAME=credits_challenge_db
